body {
  margin: 0;
  padding: 0;
  background: #fff !important;
  font-family: "Montserrat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

.logo-img {
  width: 390px;
  height: auto;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #1a1e21;
}

.divider {
  margin: 5rem 0;
}

/* NavBar */
nav a.navbar-brand h2 {
  color: #004d00;
}
nav ul.action-menu .nav-item .nav-link {
  margin: 0px 20px;
  font-size: 18px;
}
.navbar-toggler {
  outline: none !important;
  outline-color: transparent !important;
  padding: none !important;
  border: none !important;
  border-radius: none !important;
}

/* Carousel */

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1s;
}

.carousel-item {
  width: 100%;
  height: 90vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 1s ease-in-out;
}
.carousel-item::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 40%;
}
.carousel-caption h5 {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  width: 80%;
  margin: 0px auto 30px auto;
}
.carousel-caption p {
  font-size: 20px;
  width: 80%;
  margin: 0px auto 30px auto;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.side img {
  width: 100%;
  height: 50px;
  align-items: center;
}

.copyright p {
  font-size: 13px;
  margin-left: 70px;
  text-decoration: underline;
  opacity: 60%;
}

/* Scroll Animations */

.autoShow {
  opacity: 0;
  transform: translateY(200px) scale(0.3);
  transition: all 0.8s ease-in-out;
}

.autoShow.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.cards:nth-child(2) {
  transition-delay: 200ms;
}

.cards:nth-child(3) {
  transition-delay: 400ms;
}
